---
layout: default

---

<div class="post-container">

  <div class="post">
    <section class="piece-content">
      {{ content }}
    </section>

    <aside class="piece-sidebar">
      <h2 class="piece-title">{{ page.title }}</h2>
      <p class="piece-desc">{{ page.description }}</p>
   </aside>
  </div>

  <a href="http://{{ site.url}}">Back to Work</a>
</div>


<!-- more work below -->

<h3>Recent Work</h3>

<div class="portfolio">
  {% for post in site.categories.work limit:3 %}

   <div class="portfolio-item">

    <!-- Item Thumbnail -->

     {% if post.thumbnail %}
      <a href="{{ post.url }}">
        <img class="port-thumb" src="http://{{ site.url}}{{ post.thumbnail }}"/>
      </a>
     {% endif %}

    <!-- Item Title / Info -->

    <h5 class="portfolio-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h5>

    </div>


  {% endfor %}
</div>
