
.mast-head {
  header {
    display        : flex;
    height         : 150px;
    margin-top     : 50px;
    text-transform : uppercase;
    align-items    : center;

    a {
      color           : black;
      text-decoration : none;
    }

  //  header nests:
    .hero {
      flex-grow : 1;

      h1{
        margin : 0;
      }

      p {
        margin         : 0;
        margin-top     : 5px;

        font-size      : 13px;
        color          : #C9D2D2;
        text-transform : capitalize;
      }

      a {
        font-family : "Lato";
        font-size   : 38px;
        font-weight : 900;
      }
    }

    .header-links {
      margin     : 0 15px;
      font-size  : 12px;
      text-align : center;
    }

    .top-nav {
      font-size : 12px;
    }
  }

  @media (max-width: 750px) {
    
    header {
      justify-content : center;
      flex-direction  : column;
      justify-content : center;

      .hero {
        flex-grow : 0;
      }

      p {
        text-align: center;
      }

      .top-nav {
        margin-top: 20px;
      }

    }
  }
}

#landing-tagline {
  margin-bottom : 50px;
}